{erl_opts, [debug_info]}.

{deps, [{gen_driver,
         {git, "https://github.com/cursorinsight/generic-linked-in-driver.git",
          {branch, "master"}}}
       ]}.

{plugins, [pc]}.

{ct_opts, [{dir, ["./test"]},
           {sys_config, "./config/sys.config"}]}.

{provider_hooks,
  [{post,
    [{compile, {pc, compile}},
     {clean, {pc, clean}}]}]}.

{pre_hooks, [{compile, "echo -n $(cp ../gen_driver/c_src/gen_driver.h ../gen_driver/c_src/gen_driver.c c_src/ > /dev/null 2>&1)"},
             {compile, "echo -n $(cp _build/default/lib/gen_driver/c_src/gen_driver.h _build/default/lib/gen_driver/c_src/gen_driver.c _build/default/lib/julia_port/c_src/ > /dev/null 2>&1)"},
             {compile, "echo -n $(cp _build/default/lib/gen_driver/c_src/gen_driver.h _build/default/lib/gen_driver/c_src/gen_driver.c c_src/ > /dev/null 2>&1)"}]}.

{port_specs, [{"priv/julia_port.so", ["c_src/*.c"]}]}.
{port_env, [{"CC", "gcc"},
            {"DRV_CFLAGS", "-g -MD -g3 -fpic -DDRIVER_NAME=julia_port -D_GLIBCXX_USE_CXX11_ABI=0 -Werror=abi-tag -I/usr/include/julia -DJULIA_ENABLE_THREADING -std=gnu99 -Wall $ERL_CFLAGS"},
            {"DRV_LDFLAGS", "-g -shared -fpic -ljulia -ldl $ERL_LDFLAGS "}]}.

{artifacts, ["priv/julia_port.so"]}.
